@font-face {
  font-family: "NeutrafaceTextBold";
  src:
    local("Neutraface Text Bold"),
    url("fonts/neutraface-text-bold.otf") format("opentype");
}
@font-face {
  font-family: "Raleway";
  src:
    local("Raleway Light"),
    url("fonts/raleway-light.ttf") format("truetype");
}
h1{
    background: url('./images/jsm-logo.png') no-repeat center center local; 
    background-size: 200px 80px; 
    width: 200px;
    height: 80px; 
    display:inline-block;
    color: transparent;
    user-select: none;
}
h1, h2, h3, form legend, form label, .floating-button input{
    font-family: "NeutrafaceTextBold";
}
#matrix{
  width: 100%;
  padding: 10px;
  table-layout:fixed;
  text-align: center;
}
form legend{
  display:block;
  font-size: 1.5em;
  margin-top: -1.5em;
  position:absolute;
  color: white;
  text-shadow: 
    -2px -2px 0 #000, 
    -2px 0px 0 #000, 
    2px -2px 0 #000, 
    2px 0px 0 #000, 
    -2px 2px 0 #000, 
    0px 2px 0 #000, 
    2px 2px 0 #000,
    0px -2px 0 #000;
}
.canvas{
  border-radius: 1em;
  background-color: white;
  border: 1px solid black;
  padding: 1em;
}
form fieldset{
  margin-top: 2em;
  border-radius: 2em;
  padding: 1em;
  background: linear-gradient(45deg, #DDDDDC 12%, transparent 0, transparent 88%, #DDDDDC 0),
    linear-gradient(135deg, transparent 37%, #DDDDCC 0, #DDDDCC 63%, transparent 0),
    linear-gradient(45deg, transparent 37%, #DDDDDC 0, #DDDDDC 63%, transparent 0) #CCCCBB;
  background-size: 6px 6px;
}

.CodeMirror {
    font-size: 15px;
    width: 100% ;
    height: 180px !important;
}


.CodeMirror{
  border-top-right-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
  
}
.CodeMirror-sizer > div{
  /*
  box-shadow: inset 1px 1px black, inset -1px 1px black, inset 1px -1px black, inset -1px -1px black;
  */
}
.CodeMirror-gutters{
  border-right: 1px solid black !important;
}
.CodeMirror-scroll, .CodeMirror-wrap{
  box-shadow: inset 1px 1px black, inset -1px 1px black, inset 1px -1px black, inset -1px -1px black;
}
.CodeMirror-sizer{
  border-bottom-right-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
  bottom-border: 1px solid black;
}
.CodeMirror-lines{
  border-top-right-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
}

.block-title{
  position: absolute;
  margin-top: -1.5em;
  margin-left: 0.5em;
  text-shadow: 2px 2px black, -2px 2px black, 2px -2px black, -2px -2px black;
  color: white;
}

.floating-button input{
  background: white;
  border: 1px solid black;
  border-radius: 0.8em;
  padding: 1em;
}

.floating-button input:hover, .floating-control input:hover{
  background: #EEEE00;
}

.floating-button input:active, .floating-control input:active{
  background: #000000;
  color: white;
}

.floating-button, .codewrap{
  border: 1px solid black;
  border-radius: 1em;
  padding: 1em;
}

.floating-control{
  border: 1px solid black;
  border-radius: 2em;
  padding: 2em;
  padding: 0.5em;
    background: linear-gradient(45deg, #DDDDDC 12%, transparent 0, transparent 88%, #DDDDDC 0),
        linear-gradient(135deg, transparent 37%, #DDDDCC 0, #DDDDCC 63%, transparent 0),
        linear-gradient(45deg, transparent 37%, #DDDDDC 0, #DDDDDC 63%, transparent 0) #CCCCBB;
      background-size: 6px 6px;
    }
  }
  
  .floating-control:active{
    border: 1px solid black;
    border-radius: 2em;
    padding: 1em;
    float:right;
    background: linear-gradient(45deg, #DDDDDC 12%, transparent 0, transparent 88%, #DDDDDC 0),
      linear-gradient(135deg, transparent 37%, #DDDDCC 0, #DDDDCC 63%, transparent 0),
      linear-gradient(45deg, transparent 37%, #DDDDDC 0, #DDDDDC 63%, transparent 0) #CCCCBB;
    background-size: 6px 6px;
  }

.floating-right{
  float:right;
}

.floating-left{
  float:left;
}

.foot-attached{
  margin-left: 520px;
  position:absolute;
  font-size: 0.5em;
  width:50px;
  height:50px;
  margin-top:-85px;
  z-index: 10;
}

.foot-attached::before{
  content: '⧉';
  position: absolute;
  display: block;
  height: 100px;
  width: 100px;
  margin-left:6px;
  margin-top:-6px;
  font-size: 5.5em;
  pointer-events: none;
}
.foot-attached::after{
  content: 'copy';
  font-family: "NeutrafaceTextBold";
  position: absolute;
  display: block;
  font-size: 2em;
  width: 50px;
  margin-top:-20px;
  text-align: center;
  pointer-events: none;
}

.foot-attached:active::after, .foot-attached:active::before{
  color: white;
}

.floating-button{
  padding: 0.5em;
  background: linear-gradient(45deg, #DDDDDC 12%, transparent 0, transparent 88%, #DDDDDC 0),
      linear-gradient(135deg, transparent 37%, #DDDDCC 0, #DDDDCC 63%, transparent 0),
      linear-gradient(45deg, transparent 37%, #DDDDDC 0, #DDDDDC 63%, transparent 0) #CCCCBB;
    background-size: 6px 6px;
  }
}

.floating-button:active{
  border: 1px solid black;
  border-radius: 2em;
  padding: 1em;
  float:right;
  background: linear-gradient(45deg, #DDDDDC 12%, transparent 0, transparent 88%, #DDDDDC 0),
    linear-gradient(135deg, transparent 37%, #DDDDCC 0, #DDDDCC 63%, transparent 0),
    linear-gradient(45deg, transparent 37%, #DDDDDC 0, #DDDDDC 63%, transparent 0) #CCCCBB;
  background-size: 6px 6px;
}

.foot-attached input{
  width:50px;
  height:50px;
  line-height: 1em;
  font-size: 2em;
  border-radius: 1em;
  overflow: hidden;
}


form{
  margin: 40px;
}

p, li{
    font-family: "Raleway";
}
html{
  min-height: 100vh;
}
body{
    min-height: 100vh;
    margin:0px;
    background-color: #EEEE00;
    background-image: linear-gradient(90deg,rgba(255,255,255,.07) 50%,transparent 50%),linear-gradient(90deg,rgba(255,255,255,.13) 50%,transparent 50%),linear-gradient(90deg,transparent 50%,rgba(255,255,255,.17) 50%),linear-gradient(90deg,transparent 50%,rgba(255,255,255,.19) 50%);
    background-size: 39px,87px,111px,159px
}

.codewrap{
  position: static;
  display: inline-block;
  margin-top: 1em;
  background: #f7f7f7;
  width: calc(100% - 2em);
}

main section .block{
  border: 1px solid black;
  margin-top: 2em;
  border-radius: 2em;
  padding: 1em;
  background: linear-gradient(45deg, #DDDDDC 12%, transparent 0, transparent 88%, #DDDDDC 0),
    linear-gradient(135deg, transparent 37%, #DDDDCC 0, #DDDDCC 63%, transparent 0),
    linear-gradient(45deg, transparent 37%, #DDDDDC 0, #DDDDDC 63%, transparent 0) #CCCCBB;
  background-size: 6px 6px;
  transition: padding-left 2s;
}
main section .block.detail tbody tr:nth-child(1) td:nth-child(1){
  transition: all 2s;
}
/* import, importmap, delivery*/
main section .block tbody tr td:nth-child(1)::before{
  content:'';
  -webkit-transition: all 2s;
  transition: all 2s;
  opacity:0;
  display: block;
  position: absolute;
}

th img{
  height: 70px;
}

.info div{
  background-color: #9999FF;
  border: 1px solid black;
  width: 1em;
  height: 1em;
  text-align: center;
  display:inline-block;
  border-radius: 1em;
  position: absolute;;
}

.info{
  width: 100%;
  text-align: right;
  position: relative;
  margin-left: -1em;
}

main section .block.detail tbody tr td:nth-child(1)::before{
  width: 150px;
  text-align: right;
  display: block;
  position: absolute;
  background: none;
  border: 1px none;
  font-family: "NeutrafaceTextBold";
  color: white;
  font-size: 1.2em;
  padding: 0px;
  margin-left: -170px;
  -webkit-transition: all 2s;
  transition: all 2s;
  opacity: 1;
  text-shadow: 2px 2px black, -2px 2px black, 2px -2px black, -2px -2px black;
}

main section .block.detail tbody tr:nth-child(1) td:nth-child(1)::before{
  content:'import';
}

main section .block.detail tbody tr:nth-child(2) td:nth-child(1)::before{
  content:'importmaps';
}

main section .block.detail tbody tr:nth-child(3) td:nth-child(1)::before{
  content:'delivery';
}

main section .matrix-block.detail{
  padding-left: 180px;
}

main section .block td{
  border: 1px solid black;
  border-radius: 0.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin:0px;
  font-size: 1.5em;
  background: white;
  width:60px;
}

main section .block p, main section .block fieldset{
  border: 1px solid black;
  border-radius: 2em;
  padding: 1em;
  margin:0px;
  background: white;
}

main section .block fieldset label{
  font-family: "NeutrafaceTextBold";
}


main section .block th{
  position: relative;
  overflow:hidden;
}

main{
    min-height: calc(100vh - 40px);
    max-width: 640px;
    padding: 20px;
    background-color: #EEEEEE;
}

main section{
    min-height: calc(100vh - 400px);
}

footer{
    display:flex;
    width: 100%;
}
footer div{
    flex-direction: row;
    min-width:25%;
}

footer li{
    list-style-type: none;
}

footer ul{
    padding-left:0;
}