@font-face {
  font-family: "NeutrafaceTextBold";
  src:
    local("Neutraface Text Bold"),
    url("fonts/neutraface-text-bold.otf") format("opentype");
}
@font-face {
  font-family: "Raleway";
  src:
    local("Raleway Light"),
    url("fonts/raleway-light.ttf") format("truetype");
}
h1{
    background: url('./images/jsm-logo.png') no-repeat center center local; 
    background-size: 200px 80px; 
    width: 200px;
    height: 80px; 
    display:inline-block;
    color: transparent;
    user-select: none;
}
h1, h2, h3, form legend, form label, .floating-button input{
    font-family: "NeutrafaceTextBold";
}
#matrix{
  width: 100%;
  padding: 10px;
  text-align: center;
}
form legend{
  display:block;
  font-size: 1.5em;
  margin-top: -1.5em;
  position:absolute;
  color: white;
  text-shadow: 
    -2px -2px 0 #000, 
    -2px 0px 0 #000, 
    2px -2px 0 #000, 
    2px 0px 0 #000, 
    -2px 2px 0 #000, 
    0px 2px 0 #000, 
    2px 2px 0 #000,
    0px -2px 0 #000;
}
.canvas{
  border-radius: 1em;
  background-color: white;
  border: 1px solid black;
  padding: 1em;
}
form fieldset{
  margin-top: 2em;
  border-radius: 2em;
  padding: 1em;
  background: linear-gradient(45deg, #DDDDDC 12%, transparent 0, transparent 88%, #DDDDDC 0),
    linear-gradient(135deg, transparent 37%, #DDDDCC 0, #DDDDCC 63%, transparent 0),
    linear-gradient(45deg, transparent 37%, #DDDDDC 0, #DDDDDC 63%, transparent 0) #CCCCBB;
  background-size: 6px 6px;
}

.CodeMirror {
    font-size: 15px;
    width: 100% ;
    height: 180px !important;
}


.CodeMirror{
  border-top-right-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
  
}
.CodeMirror-sizer > div{
  /*
  box-shadow: inset 1px 1px black, inset -1px 1px black, inset 1px -1px black, inset -1px -1px black;
  */
}
.CodeMirror-gutters{
  border-right: 1px solid black !important;
}
.CodeMirror-scroll, .CodeMirror-wrap{
  box-shadow: inset 1px 1px black, inset -1px 1px black, inset 1px -1px black, inset -1px -1px black;
}
.CodeMirror-sizer{
  border-bottom-right-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
  bottom-border: 1px solid black;
}
.CodeMirror-lines{
  border-top-right-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
}

.floating-button input{
  background: white;
  border: 1px solid black;
  border-radius: 0.8em;
  padding: 1em;
}

.floating-button input:hover{
  background: #EEEE00;
}

.floating-button input:active{
  background: #000000;
  color: white;
}

.floating-button, .codewrap{
  border: 1px solid black;
  border-radius: 1em;
  padding: 1em;
}

.floating-right{
  float:right;
}

.floating-left{
  float:left;
}

.foot-attached{
  margin-left: 520px;
  position:absolute;
  font-size: 0.5em;
  width:50px;
  height:50px;
  margin-top:-85px;
  z-index: 10;
}

.foot-attached::before{
  content: '⧉';
  position: absolute;
  display: block;
  height: 100px;
  width: 100px;
  margin-left:5px;
  margin-top:-8px;
  font-size: 6em;
  pointer-events: none;
}
.foot-attached::after{
  content: 'copy';
  font-family: "NeutrafaceTextBold";
  position: absolute;
  display: block;
  font-size: 2em;
  width: 50px;
  margin-top:-20px;
  text-align: center;
  pointer-events: none;
}

.foot-attached:active::after, .foot-attached:active::before{
  color: white;
}

.floating-button{
  padding: 0.5em;
  background: linear-gradient(45deg, #DDDDDC 12%, transparent 0, transparent 88%, #DDDDDC 0),
      linear-gradient(135deg, transparent 37%, #DDDDCC 0, #DDDDCC 63%, transparent 0),
      linear-gradient(45deg, transparent 37%, #DDDDDC 0, #DDDDDC 63%, transparent 0) #CCCCBB;
    background-size: 6px 6px;
  }
}

.floating-button:active{
  border: 1px solid black;
  border-radius: 2em;
  padding: 1em;
  float:right;
  background: linear-gradient(45deg, #DDDDDC 12%, transparent 0, transparent 88%, #DDDDDC 0),
    linear-gradient(135deg, transparent 37%, #DDDDCC 0, #DDDDCC 63%, transparent 0),
    linear-gradient(45deg, transparent 37%, #DDDDDC 0, #DDDDDC 63%, transparent 0) #CCCCBB;
  background-size: 6px 6px;
}

.foot-attached input{
  width:50px;
  height:50px;
  line-height: 1em;
  font-size: 2em;
  overflow: hidden;
}


form{
  margin: 40px;
}

p, li{
    font-family: "Raleway";
}
html{
  min-height: 100vh;
}
body{
    min-height: 100vh;
    margin:0px;
    background-color: #EEEE00;
    background-image: linear-gradient(90deg,rgba(255,255,255,.07) 50%,transparent 50%),linear-gradient(90deg,rgba(255,255,255,.13) 50%,transparent 50%),linear-gradient(90deg,transparent 50%,rgba(255,255,255,.17) 50%),linear-gradient(90deg,transparent 50%,rgba(255,255,255,.19) 50%);
    background-size: 39px,87px,111px,159px
}

.codewrap{
  position: static;
  display: inline-block;
  margin-top: 1em;
  background: #f7f7f7
}

main section .block{
  border: 1px solid black;
  margin-top: 2em;
  border-radius: 2em;
  padding: 1em;
  background: linear-gradient(45deg, #DDDDDC 12%, transparent 0, transparent 88%, #DDDDDC 0),
    linear-gradient(135deg, transparent 37%, #DDDDCC 0, #DDDDCC 63%, transparent 0),
    linear-gradient(45deg, transparent 37%, #DDDDDC 0, #DDDDDC 63%, transparent 0) #CCCCBB;
  background-size: 6px 6px;
}

main section .block p, main section .block td{
  border: 1px solid black;
  border-radius: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin:0px;
  background: white;
}

main section .block p, main section .block td{
  border: 1px solid black;
  border-radius: 2em;
  padding: 1em;
  margin:0px;
  background: white;
}

main section .block td{
  width: 10px;
}

main section .block th{
  position: relative;
}

main section .block td:nth-child(1){
  background: none;
  border: 1px none;
  font-family: "NeutrafaceTextBold";
  color: white;
  font-size: 1.5em;
  padding: 0px;
  text-shadow: 1px 1px black, -1px 1px black, 1px -1px black, -1px -1px black;
}

main{
    min-height: calc(100vh - 40px);
    max-width: 640px;
    padding: 20px;
    background-color: #EEEEEE;
}

main section{
    min-height: calc(100vh - 400px);
}

footer{
    display:flex;
    width: 100%;
}
footer div{
    flex-direction: row;
    min-width:25%;
}

footer li{
    list-style-type: none;
}

footer ul{
    padding-left:0;
}